<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Gloo Hobbies</title>
		<link rel="stylesheet" href="node_modules/hobbymvc-common/base.css">
		<link rel="stylesheet" href="node_modules/hobbymvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="hobbymvc">
		<!--holds the list of resources below in view-->
    <ng-view />

		<script type="text/ng-template" id="hobbymvc-index.html">
			<section id="hobbyapp">
				<header id="header">
					<h1>Resources</h1>
					<form id="hobby-form" ng-submit="addhobby()">
						<input id="new-hobby" placeholder="list resources" ng-model="newhobby" ng-disabled="saving" autofocus>
					</form>
				</header>
				<section id="main" ng-show="hobby.length" ng-cloak>
					<!--<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">-->

                    <!--<label for="toggle-all">No longer Needed</label>-->
					<ul id="hobby-list">
						<li ng-repeat="hobby in hobby | filter:statusFilter track by $index" ng-class="{completed: hobby.completed, editing: hobby == editedhobby}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="hobby.completed" ng-change="toggleCompleted(hobby)">
								<a href="#" target="_blank"><label ng-dblclick="edithobby(hobby)">{{hobby.title}}</label></a>
								<!--remove from the list entirely-->
                                <button class="destroy" ng-click="removehobby(hobby)"></button>
							</div>
							<form ng-submit="saveEdits(hobby, 'submit')">
                                <!--double click edit-->
								<input class="edit" ng-trim="false" ng-model="hobby.title" hobby-escape="revertEdits(hobby)" ng-blur="saveEdits(hobby, 'blur')" hobby-focus="hobby == editedhobby">
							</form>
						</li>
					</ul>
				</section>
                <!--extra feature. active no longer needed but dont want to delete-->
				<footer id="footer" ng-show="hobby.length" ng-cloak>
					<span id="hobby-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a ng-class="{selected: status == ''} " href="#/">All</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'completed'}" href="#/completed">REMOVE FROM RESOURCE</a>
						</li>
					</ul>
					<button id="clear-completed" ng-click="clearCompletedhobby()" ng-show="completedCount">Clear All Resources</button>
				</footer>
			</section>

		</script>
		<script src="node_modules/hobbymvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/hobbyCtrl.js"></script>
		<script src="js/services/hobbyStorage.js"></script>
		<script src="js/directives/hobbyFocus.js"></script>
		<script src="js/directives/hobbyEscape.js"></script>
	</body>
</html>
